/*------------
   Fonts
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@400;500;700&display=swap');

/*------------------------------
   Utilities or Common Styles 
--------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 130px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
    padding: 16px 20.5px;
    font-family: 'Inter', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

/*--------------------
    Header Styles 
----------------------*/
.header {
    background-image: url('../images/donation3.jpg'), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-size: 100%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.header-banner {
    text-align: center;
    padding: 156px 308px 193px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

/*--------------------------
      Main Area Styles 
-----------------------------*/

/*----------------------------
       Donate Today Styles 
------------------------------*/
.money {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 60px;
}

.bdt {
    width: 135px;
    background: #FAFAFA;
    border-radius: 5px;
    text-align: center;
}

.bdt p {
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    font-family: 'Inter';
    padding: 44px 10px;
}

.orange {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.orange p{
    color: #FF5959;
}
hr{
    width: 765px;
    margin: 0px auto 30px auto;
}
.donate-today .btn-primary{
    margin-right: 650px;
    margin-left: 650px;
}