/*------------
   Fonts
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*------------------------------
   Utilities or Common Styles 
--------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 130px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
    padding: 16px 20.5px;
    font-family: 'Inter', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 691px;
    height: 56px;
}

/*--------------------
    Header Styles 
----------------------*/
.header {
    background-image: url('../images/donation3.jpg'), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-size: 100%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.header-banner {
    text-align: center;
    padding: 156px 308px 193px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

/*--------------------------
      Main Area Styles 
-----------------------------*/

/*----------------------------
       Donate Today Styles 
------------------------------*/
.money {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 60px;
}

.bdt {
    width: 135px;
    background: #FAFAFA;
    border-radius: 5px;
    text-align: center;
}

.bdt p {
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    font-family: 'Inter';
    padding: 44px 10px;
}

.orange {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.orange p {
    color: #FF5959;
}

hr {
    width: 765px;
    margin: 0px auto 30px auto;
}

.donate-today .btn-primary {
    margin-right: 650px;
    margin-left: 650px;
}

/*-----------------------
   Donate Plan Styles 
-------------------------*/
.donations {
    display: flex;
    justify-content: space-evenly;
}

.donation {
    width: 360px;
    height: 352px;
    border-radius: 5px;
}

#donation-1 {
    background: rgba(79, 157, 166, 0.1);
}

#donation-2 {
    background: rgba(255, 89, 89, 0.1);
}

#donation-3 {
    background-color: #FFF4D6;
}

.donation img {
    margin: 63px 0px 0px 23px;
}

.donation-details {
    width: 315px;
    height: 153px;
    margin: 31px 22px 54px 23px;
}

.donation-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    font-family: 'poppins';
    margin-bottom: 16px;
}

.doantion-description {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    font-family: 'poppins';
    text-align: justify;
}

/*----------------------------
     Contributions Styles 
------------------------------*/
.contribution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    margin-bottom: 151px;
}

.contribution img {
    width: 456px;
    height: 477px;
}

.contribution-details {
    width: 493px;
    height: 374px;
}

.contribution-details .section-title {
    text-align: start;
    margin-bottom: 25px;
}

.contribution-details .section-description {
    text-align: start;
    margin-bottom: 25px;
}

.contribution-details>.section-description {
    width: 482px;
    height: 84px;

}

/*-----------------------
    My Updates Styles 
-------------------------*/
.update-details .section-description {
    width: 691px;
    height: 56px;
    text-align: center;
    margin-bottom: 50px;
}

form {
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.subscribe {
    display: flex;
}

.subscribe input {
    font-weight: 500;
    font-size: 16px;
    color: #AA9F9F;
    font-family: 'poppins';
    padding-left: 17px;
    padding-right: 100px;
    background-color: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
}

/*-----------------------
    Footer Area Styles 
-------------------------*/
.footer{
    background: #0B0D17;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-title {
    font-weight: 400;
    font-size: 36px;
    font-family: 'Lobster';
    color: #FF5959;
}

.footer-description {
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
    font-family: 'Inter';
}